header{
    border: 2px solid red;
    height:100px;
    width:100%
}
/*
.yellow{
}
.red{
} 
.blue{
}
#secondelement{
  
}
section{
    
    border:2px solid black;
    border-radius:20px;
    margin:20px;
    padding: 20px;
}*/
section{
    width:100%;
   /* border:2px solid black; */
    padding-left:20px;
}
div{
   /* border: 2px solid black; */
    border-radius: 20px;
    margin: 20px;
    padding:20px;
}

body{
    font-family: 'Courier New', Courier, monospace;
}
.Project{
    display:flex;
    flex-direction: row;
    /* border: 2px solid black; */
}
.Project1,
.Project2,
.project1Container,
.Project2Container,
.project3Container,
.Sk,
.TS{
    border:2px solid black;
    box-shadow: 2px 3px 10px black;
}
.Project1:hover,
.Project2:hover,
.project1Container:hover,
.Project2Container:hover,
.project3Container:hover,
.Sk:hover,
.TS:hover{
    background-color: rgba(5, 218, 255, 0.788);
    cursor:pointer;
    transform:scale(1.05);
    transform: 0.5s ease-in-out;
}
.projectContainer{
    padding:0;
    border:none;
    margin:0;
}
.about{
    display:flex;
    flex-direction:column;
    align-items:center;
}
img{
    width:200px;
    height:200px;
}
form{
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 30px;
    justify-content: space-between;
    width: 200px;
    border: 2px solid black;
    border-radius: 20px;
}
.Skills dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
    grid-template-rows: auto auto; /* Creates two rows */
    gap: 20px; /* Space between items */
}

.Skills dt {
    font-weight: bold;
}

.Skills dd {
    margin: 0;
}

.FeedbackForm{
    display:flex;
    justify-content: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

