header{
    border: 2px solid red;
    height:100px;
    width:100%
}

.yellow{
}
.red{
} 
.blue{
}
#secondelement{
  
}
section{
    
    border:2px solid black;
}
footer{
    height:200px;
    width:100%;
    border: 2px solid red;
}
